image: ubuntu:18.10

variables:
  GIT_SUBMODULE_STRATEGY: recursive

  DEVKITPRO: "/opt/devkitpro"
  DEVKITPPC: "/opt/devkitpro/devkitPPC"
  WUT_ROOT: "/opt/devkitpro/wut"

.common: &common
  script:
    - ./dependency_helper.sh
    - make -f Makefile.$PLATFORM
  artifacts:
    paths:
      - chestotesto.$EXT

PC:
  <<: *common
  variables:
    PLATFORM: pc
    EXT: bin

PC-sdl1:
  <<: *common
  variables:
    PLATFORM: pc-sdl1
    EXIT: bin

WiiU:
  <<: *common
  variables:
    PLATFORM: wiiu
    EXT: rpx

Switch:
  <<: *common
  variables:
    PLATFORM: switch
    EXT: nro
